aiohttp
aiosignal
asgiref
attrs
crispy-bootstrap5
discord
discord.py
dj-database-url
Django
django-crispy-forms
django-email
django-environ
django-humanize
EasyProcess
entrypoint2
frozenlist
humanize
idna
MouseInfo
mss
multidict
mysql
mysqlclient
numpy
opencv-contrib-python
Pillow
psycopg2
psycopg2-binary
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
sqlparse
typing_extensions
tzdata
yarl