{% extends 'base.html'%}

{% load static %}
{% load crispy_forms_tags %}
{% block content %} 
     
      <div class="news_section layout_padding">
         <div class="container">
            <h1 class="news_taital">About Us</h1>
            <p class="news_text">Welcome to eCourse Platform, your number one source for online learning. We're dedicated to providing you the very best of online courses, with an emphasis on quality, affordability, and accessibility.</p>
            <div class="news_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="news_taital_box">
                        <p class="date_text">01 Feb 2024</p>
                        <h4 class="make_text">Make it Simple</h4>
                        
                        <p class="lorem_text">Founded in 2024 by a team of passionate educators, eCourse Platform has come a long way from its beginnings. When we first started out, our passion for education drove us to start our own platform.</p>
                        <p class="post_text">Sincerely,<br>The eCourse Platform Team</p>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <img src="/static/images/img-6.png" class="image_6" style="width:100%">
                     <h6 class="plus_text">+</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="news_section layout_padding">
         <div class="container">
            <h1 class="news_taital">Our Courses</h1>
            <p class="news_text">We have been operating for over a in the decade, providing top-notch</p>
            <div class="news_section_2">
               <div class="container">
                  <div class="row">
                    {% for i in data %}
                    <div class="col-md-4">
                      <div class="card" style="width: 20rem;">
                        <img src="{{ i.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{ i.name }}</h5>
                          <p class="card-text">{{ i.job }}</p>
                          <a href="{% url 'course_details' i.id %}" class="btn btn-primary">Details</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                
                
            </div>
         </div>
      </div>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
      {% endblock %}
 