{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}

   <style>
      .header_section{
      font-size: 30px; /* Adjust font size for the logo */
      }
   </style>
      <!--header section start -->
      {% block content %}     
     
         <!--header section start -->
         
             
      <div class="blog_section layout_padding">
         <div class="container">
            <h1 class="news_taital">Our Bolg</h1>
            <p class="news_text">"Unlock your potential with our comprehensive e-course tailored just for you.</p>
            <div class="blog_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <img src="/static/images/img-7.png" class="image_7" style="width:100%">
                  </div>
                  <div class="col-md-6">
                     <h4 class="classes_text">Best Classes and study</h4>
                     <p class="ipsum_text">In today's rapidly evolving digital landscape, e-learning has become an indispensable tool for acquiring knowledge and skills conveniently and efficiently. From specialized courses tailored to specific industries to comprehensive programs covering a wide range of subjects, the world of e-learning offers boundless opportunities for personal and professional growth </p>
                  </div>
               </div>
            </div>
            <div class="read_bt"><a href="#">Read More</a></div>
         </div>
      </div>
      {% endblock %}