{% extends 'base.html'%}
{% load static %}
{% block content %} 
<div class="d-flex">
    <div class="col-6">
        <img style="width: 90%;" class="rounded " src="{% static 'cer.png' %}" alt="banner image">
    </div>
    <div class="container mt-5">
        <h1 class="text-center mb-5">Certification</h1>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
                <p>Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
                
            </div>
        </div>
    </div>
</div>
<!-- End Page Content -->

{% endblock %}
