{% extends 'base.html' %} 
{% load static %}
{% block content %}
     
         <!--header section start -->
      
<h1 class="services_taital mt-5"><span style="color: ">Our</span> Courses</h1>
<div class="" >
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                
               <h3 style="color: black; font-weight: bold;">Select Course by Category</h3>

            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center mx-2" style="background-color:#E8EFFF;"> 
        {% for i in course_category %}  
            <div class="form-check " style=" padding: 5px;">
                <a class="btn pt-10" style="color: blue; font-weight: bold; padding: 10px;" href="{% url 'category' i.slug %}" class="text-decoration-none">{{i.category_name}}</a>
            </div>
        {% endfor %}
    </div>
</div>
<!-- {% if request.user.is_authenticated %}
<div class="pt-4"  style="background-color: antiquewhite;">
    <h3 class="text-center fw-bolder"> You are a verified user, now you can enroll in courses</h3>
  
</div>
{% else %}
<div class="pt-2"  style="background-color: antiquewhite;">
    
    <h2 class="text-center">You need to login first to enroll in courses</h2>
</div>
{% endif %} -->

  <div class="container">
    <div class="row">
      {% for i in data %}
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
          <img src="{{ i.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ i.name }}</h5>
            {% if request.user.is_authenticated %}
                
                  <a href="{% url 'course_details' i.id %}" class="btn btn-primary">Details</a>
                 {%else%}
                  <a href="{% url 'login' %}" class="btn btn-primary">Details</a>
                {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock %}