{% extends 'base.html'%}

{% load static %}
{% block content %} 

<div class="" style="background-color: #E0C6CB;">
   
    <div class="d-flex flex-wrap justify-content-center mx-2">
        
        {% for i in course_category %}  
            <div class="form-check mb-4">
                <a class="btn " style="background-color:rgb(232, 78, 106);"href="{%url 'category' i.slug %}" class="text-decoration-none">{{i.category_name}}</a> 
            </div>
        {% endfor %}
    </div>
</div>
{% if request.user.is_authenticated %}
<div class="pt-4">
    <h3 class="text-center fw-bolder"> You are verified user ,now you can enroll in courses</h3>
  
</div>
{% else %}
<div class="pt-2">
    
    <h2 class="text-center">You need to login first to enroll in courses</h2>
</div>
{% endif %}
<div class="h-50 d-flex flex-wrap px-3 pt-5">
    {% for i in data %}
    <div class="col-sm-4 mt-2 mb-4 h-50">
        <div class="card mx-2">
            <div style="background-color: #E0C6CB;" class="card-body rounded h-50">
                
                <img src="{{i.image.url}}" class="card-img-top rounded" alt="course">
                
                <div class="card-body">
                    <h3 class="card-title"><a class="text-decoration-none text-danger"  href="{% url 'course_details' i.id %}">{{i.name}}</a></h3>
                  
                   
                   <p class="card-text">Category: {{i.category}}</p>
                   <p class="card-text">Description : {{i.description | truncatewords:5}}</p>
                </div> 
            </div>
        </div>
    </div>
    {% endfor %}
    </div>

{% endblock %}