{% extends 'base.html'%}

{% load static %}
{% load crispy_forms_tags %}
{% block content %} 
<div style="background-color: beige;">
    <h3 class="text-center p-4">Welcome to ECourse, your premier destination for quality online learning!</h3>
</div>
<div class="d-flex flex-wrap mt-2 border border-3">
    <div class="col-6 ">
        <p class="p-3 border border-2"> Welcome to ECourse, where learning knows no bounds. Explore our diverse range of eCourses designed to ignite your curiosity and fuel your passions.
            <br\>
            Expand your skill set, advance your career, and embrace lifelong learning with our innovative eCourse offerings. Start your educational adventure today and unlock a world of possibilities.
            <br\>
            At ECourse, we believe in the transformative power of education. Dive into our extensive library of eCourses and take control of your learning experience.
         </p>
        <p class="p-3 border border-2">
            Our comprehensive eCourses are designed to equip you with the skills you need to succeed in today's fast-paced world.
            <br/>
            Join a community of eager learners and embark on a journey of self-discovery. With our intuitive platform, accessing high-quality eCourses has never been easier.
            <br/>
            With our user-friendly platform and expertly crafted content, the possibilities for growth are endless.ith our immersive eCourses designed to inspire and empower.Start your journey towards success now.
        </p>

    </div>
    <div class="col-6">
        <img style="width: 90%;" class="rounded " src="{% static 'download2.jpg' %}" alt="banner image">
    </div>
</div>
<div class="" style="background-color: #c8e5f1;">
    {% include 'carsor.html' %}
</div>

<div class="container-fluid">
    <h3 style="text-align: center; font-weight: bold;">Teachers</h3>

    <div class="row">
        <div class="col-12 mx-2">
            <div style="margin-bottom: 30px; overflow: hidden;">
                <img src="{% static 'school1.jpg' %}" class="d-block mx-auto" style="width: 100vw; max-height: 500px;" alt="Slide 3">
            </div>
        </div>
    </div>
</div>
<!-- <div class="flex" >
    <div>
        <div class="card " style="width: 43rem;">
            <img src="{% static 'adv1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"></p>
            </div>
          </div>
    </div>
    <div>
        <div class="card my-5" style="width: 50rem;height: 120px;">
            <img src="{% static 'elearning.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"></p>
            </div>
          </div>
    </div>
    
      
       
    
</div> -->
<div class="flex">
    <div>
        <img src="{% static 'emon.jpg' %}" class="d-block mx-auto" style="width: 100vw; max-height: 500px;" alt="Slide 3">

    </div>
    <div>
        <img src="{% static 'eben.jpg' %}" class="d-block mx-auto" style="width: 100vw; max-height: 500px;" alt="Slide 3">

    </div>
</div>
<div class="flex">
    <div>
       <img src="{% static 'etype.jpg' %}" class="d-block mx-auto" style="width: 100vw; max-height: 500px;" alt="Slide 3">
           
    </div>
    <div>
        <div>
            <img src="{% static 'estep.jpg' %}" class="d-block mx-auto" style="width: 100vw; max-height: 500px;" alt="Slide 3">
   
        </div>

            
    </div>
</div>



   
    <!-- contactus form -->
    <!-- <img src="{% static 'full.jpg' %}" class="d-block mx-auto" style="width: 100%; max-height: 500px;" alt="Slide 3"> -->
            
    <div class="container-fluid">
        <div class="row">
            <!-- Image Column -->
            <div class="col-md-6">
                <img src="{% static 'contactus5.jpg' %}" class="d-block mx-auto" style="width: 100%; max-height: 500px;" alt="Slide 3">
            </div>
            <!-- Contact Form Column -->
            <div class="col-md-6">
                <div class="container" style="margin-bottom: 30px;">
                    <div class="row">
                        <div class="col-md-10 offset-md-1 contact-form">
                            <h2 class="text-center mb-4">Contact Us</h2>
                            <form action="#" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="message">Message:</label>
                                    <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-danger btn-block text-white"><a href="contactus" class="text-white">Submit</a></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}



<!-- {% if request.user.is_authenticated %}
<div class="pt-4">
    <h3 class="text-center fw-bolder"> You are verified user ,now you can enroll in courses</h3>
  
</div>
{% else %}
<div class="pt-2">
    
    <h2 class="text-center">You need to login first to enroll in courses</h2>
</div>
{% endif %}
<div class="h-50 d-flex flex-wrap px-3 pt-5">
    {% for i in data %}
    <div class="col-sm-4 mt-2 mb-4 h-50">
        <div class="card mx-2">
            <div style="background-color: #E0C6CB;" class="card-body rounded h-50">
                
                <img src="{{i.image.url}}" class="card-img-top rounded" alt="course">
                
                <div class="card-body">
                    <h3 class="card-title"><a class="text-decoration-none text-danger"  href="{% url 'course_details' i.id %}">{{i.name}}</a></h3>
                  
                   
                   <p class="card-text">Category: {{i.category}}</p>
                   <p class="card-text">Description : {{i.description | truncatewords:5}}</p>
                </div> 
            </div>
        </div>
    </div>
    {% endfor %}
    </div> -->



