{% extends 'base.html'%}

{% load static %}
{% load crispy_forms_tags %}
{% block content %} 
<div style="background-color: beige;">
    <h3 class="text-center p-4">Welcome to ECourse, your premier destination for quality online learning!</h3>
</div>
<div class="d-flex flex-wrap mt-2 border border-3">
    <div class="col-6 ">
        <p class="p-3 border border-2"> Welcome to ECourse, where learning knows no bounds. Explore our diverse range of eCourses designed to ignite your curiosity and fuel your passions.
            <br\>
            Expand your skill set, advance your career, and embrace lifelong learning with our innovative eCourse offerings. Start your educational adventure today and unlock a world of possibilities.
            <br\>
            At ECourse, we believe in the transformative power of education. Dive into our extensive library of eCourses and take control of your learning experience.
         </p>
        <p class="p-3 border border-2">
            Our comprehensive eCourses are designed to equip you with the skills you need to succeed in today's fast-paced world.
            <br/>
            Join a community of eager learners and embark on a journey of self-discovery. With our intuitive platform, accessing high-quality eCourses has never been easier.
            <br/>
            With our user-friendly platform and expertly crafted content, the possibilities for growth are endless.ith our immersive eCourses designed to inspire and empower.Start your journey towards success now.
        </p>

    </div>
    <div class="col-6">
        <img style="width: 90%;" class="rounded " src="{% static 'download2.jpg' %}" alt="banner image">
    </div>
</div>
<div class="" style="background-color: #E0C6CB;">
    {% include 'carsole.html' %}
</div>

<div class="" style="background-color: #E0C6CB;">
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center mt-5"> <!-- Center align the text and add margin top -->
            <h3>Select Course by Category</h3>
          </div>
        </div>
      </div>
    <div class="d-flex flex-wrap justify-content-center mx-2" style="background-color: rgb(239, 209, 238);"> 
        {% for i in course_category %}  
            <div class="form-check mb-4" style="padding: 10px;">
                <a class="btn pt-10" style="background-color:rgb(232, 78, 106); padding: 10px;"href="{%url 'category' i.slug %}" class="text-decoration-none">{{i.category_name}}</a> 
            </div>
        {% endfor %}
    </div>
</div>
{% if request.user.is_authenticated %}
<div class="pt-4"  style="background-color: antiquewhite;">
    <h3 class="text-center fw-bolder"> You are verified user ,now you can enroll in courses</h3>
  
</div>
{% else %}
<div class="pt-2"  style="background-color: antiquewhite;">
    
    <h2 class="text-center">You need to login first to enroll in courses</h2>
</div>
{% endif %}
<div class="h-50 d-flex flex-wrap px-3 pt-5" style=" background: rgb(249, 239, 241);">
    {% for i in data %}
    <div class="col-sm-4 mt-2 mb-4 h-50">
        <div class="card mx-2">
            <div style="background-color: #E0C6CB;" class="card-body rounded h-50">
                
                <img src="{{i.image.url}}" class="card-img-top rounded" alt="course">
                
                <div class="card-body">
                    <h3 class="card-title"><a class="text-decoration-none text-danger"  href="{% url 'course_details' i.id %}">{{i.name}}</a></h3>
                  
                   
                   <p class="card-text">Category: {{i.category}}</p>
                   <p class="card-text">Description : {{i.description | truncatewords:5}}</p>
                </div> 
            </div>
        </div>
    </div>
    {% endfor %}
{% include 'carsor.html' %}
{% endblock %}



<!-- {% if request.user.is_authenticated %}
<div class="pt-4">
    <h3 class="text-center fw-bolder"> You are verified user ,now you can enroll in courses</h3>
  
</div>
{% else %}
<div class="pt-2">
    
    <h2 class="text-center">You need to login first to enroll in courses</h2>
</div>
{% endif %}
<div class="h-50 d-flex flex-wrap px-3 pt-5">
    {% for i in data %}
    <div class="col-sm-4 mt-2 mb-4 h-50">
        <div class="card mx-2">
            <div style="background-color: #E0C6CB;" class="card-body rounded h-50">
                
                <img src="{{i.image.url}}" class="card-img-top rounded" alt="course">
                
                <div class="card-body">
                    <h3 class="card-title"><a class="text-decoration-none text-danger"  href="{% url 'course_details' i.id %}">{{i.name}}</a></h3>
                  
                   
                   <p class="card-text">Category: {{i.category}}</p>
                   <p class="card-text">Description : {{i.description | truncatewords:5}}</p>
                </div> 
            </div>
        </div>
    </div>
    {% endfor %}
    </div> -->



