{% extends 'base.html'%}

{% load static %}
{% load crispy_forms_tags %}
{% block content %} 
      <!--header section end -->
      <!-- services section start -->
      <div class="services_section layout_padding">
         <div class="container">
            
             <h1 class="services_taital"><span style="color:">Our</span> Courses</h1>
             
             <div class="container">
               
               <div class="row">
                 {% for i in data %}
                 <div class="col-md-4">
                   <div class="card" style="width: 20rem;">
                     <img src="{{ i.image.url }}" class="card-img-top" alt="...">
                     <div class="card-body">
                       <h5 class="card-title">{{ i.name }}</h5>
                       <p class="card-text">{{ i.job }}</p>
                       <a href="{% url 'course_details' i.id %}" class="btn btn-primary">Details</a>
                     </div>
                   </div>
                 </div>
                 {% endfor %}
               </div>
             </div>
         </div>
     </div>
      <!-- services section end -->
      <!-- footer section start -->
      {% endblock %}

